* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}

.game-container {
    display: flex;
    width: 200px;
    height: 300px;
    margin: 10px auto;
    flex-wrap: wrap;
}

.cell {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.cell.active {
    background-color: yellow;
}

.cell.bottom {
    background-color: grey;
}